{% load static %}

<link rel="stylesheet" href="{% static 'quiz/style.css' %}" />

<head>
    <title>Quiz List</title>
</head>
<body>
    <h1>Question List</h1>

    <form method="post" action="{% url 'check_answers' %}">
        {% csrf_token %} {% for item in latest_question_list %}
        <h2>{{ item.question.question_text }}</h2>
        {% for choice in item.choices %}
        <input type="radio" name="choice" value="{{ choice.id }}" />
        <label>{{ choice.choice_text }}</label><br />
        {% endfor %}
        <input type="hidden" name="question_id" value="{{ item.question.id }}" />
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

    {% if score is not None %}
    <h3>Your score: {{ score }}</h3>
    {% endif %}
</body>
